@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
};
:root{
}
html, body{
    overflow-x: hidden;
    background-color: #fff1b5
};

.section-title p{
    font-size: 1.2rem; 
    color: white;
    font-weight: 500 !important;
}
.list-items{
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media(max-width: 768px){
    .list-items{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media(max-width: 576px){
    .list-items{
        grid-template-columns: repeat(1, 1fr);
    }

}
.list-item{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.list-item-title{
    font-size: 25px;
    font-weight: 700;
    color: #727272;
}
.list-item-description{
    font-size: 15px;
    font-weight:normal;
    color: #43302e;
}
.list-item-price{

}
.list-item-image{

}
.list-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}
.list-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
}
.list-icon:hover{
    color: #43302e;
}